.header {
  height: 150px;
  text-align: center;
}

.title {
  font-family: 'Fira Mono';
  font-size: 38px;
  color: white;
}

.description {
  font-family: 'Fira Mono';
  font-size: 25px;
  color: white;
}
