body {
  font-family: 'Fira Sans';
  margin: 0;
}

span {
  font-size: 16px;
}

img.emoji {
  width: 1em;
  height: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

#root {
  display: flex;
  justify-content: center;
}
