.row {
  display: flex;
  height: 40px;
}

.platformId {
  flex: 0 0 80px;
}

.route {
  flex: 0 0 80px;
}

.destination {
  flex: 1 1 80px;
}

.trainLength {
  flex: 0 0 80px;
}

.time {
  flex: 0 0 70px;
}
