.row {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  width: 330px;
  min-height: 40px;

  > span {
    display: block;
  }
}

.platformId {
  flex: 0 0 70px;
}

.route {
  flex: 0 0 90px;
}

.destination {
  flex: 0 0 90px;
}

.time {
  flex: 0 0 80px;
}
